<% layout('layouts/app') %>

<form
  action="/login"
  method="post"
  class="flex flex-col items-center justify-center validated-form mt-20"
  novalidate
>
  <div class="bg-gray-100 w-[500px] p-10 rounded-lg shadow-lg">
    <h1 class="text-center text-xl font-semibold mt-3 mb-10">Login</h1>

    <div class="mb-6">
      <input
        type="text"
        name="username"
        id="username"
        class="form-control mt-3"
        required
        placeholder="Username"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this filed</div>
    </div>

    <div class="mb-6">
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this filed</div>
    </div>

    <div class="mt-10">
      <button
        type="submit"
        class="w-full py-2.5 text-white font-semibold bg-blue-600 rounded-lg"
      >
        Login
      </button>
    </div>
  </div>
</form>
<!--  -->
