<% layout('layouts/app') %>

<div class="herohome w-full h-[500px]">
  <p class="text-center pt-32 md:text-4xl text-xl text-black font-bold">
    Bersama Kami <br />
    budayakan Membaca
  </p>
  <div>
    <p
      class="text-center text-white text-sm mt-10 md:mt-20 sm:mt-32 mx-16 md:ml-16 md:mr-16"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet
      fugit nisi autem animi eum unde velit ipsa, facere consectetur Lorem ipsum
      dolor sit.
    </p>
    <div class="flex mt-9 md:mt-4">
      <a
        class="mx-auto bg-yellow-500 px-4 md:px-8 py-2 rounded-lg shadow-slate-500 font-bold text-sm md:text-[18px]"
      >
        Belanja Sekarang
      </a>
    </div>
  </div>
</div>

<div class="text-center py-6 w-full">
  <h1 class="font-bold mb-2 md:text-2xl">Kenapa tokoKu</h1>
  <p class="text-[12px] md:ml-40 md:mr-40 sm:mx-64">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt assumenda
    eveniet dolore, ratione ipsum doloribus possimus consequatur maiores
    repellat odit.
  </p>
  <div class="flex flex-col md:flex-row items-center justify-center">
    <a
      class="w-56 h-64 bg-slate-200 shadow-lg rounded-lg mt-6 mb-3 sm:mr-4 md:mr-7 hover:scale-105 duration-300"
      href="/"
    >
      <img
        class="rounded-t-lg h-40"
        src="../public/assets/cart/2.jpg"
        alt="satu"
      />
      <p class="font-bold my-3 w-20">Sefety</p>
      <p class="text-[12px] mb-3 w-full">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, aut
        atque. Quas.
      </p>
    </a>
    <a
      class="w-56 h-64 bg-slate-200 shadow-lg rounded-lg mt-6 mb-3 sm:mr-4 md:mr-7 hover:scale-105 duration-300"
      href="/"
    >
      <img class="rounded-t-lg h-40" src="" alt="dua" />
      <p class="font-bold my-3 w-20">solfing</p>
      <p class="text-[12px] mb-3 w-full">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, aut
        atque. Quas.
      </p>
    </a>
    <a
      class="w-56 h-64 bg-slate-200 shadow-lg rounded-lg mt-6 mb-3 sm:mr-4 md:mr-7 hover:scale-105 duration-300"
      href="/"
    >
      <img
        class="rounded-t-lg h-40"
        src="../public/assets/cart/3.jpg"
        alt="tiga"
      />
      <p class="font-bold my-3 w-20">Edukasi</p>
      <p class="text-[12px] mb-3 w-full">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, aut
        atque. Quas.
      </p>
    </a>
  </div>
</div>
<div class="bg-slate-200 shadow-xl shadow-gray-300 w-full">
  <p class="text-center font-bold py-5 md:pt-10 md:text-2xl">Pencapaian Kami</p>
  <div class="flex flex-wrap items-center justify-center">
    <div class="font-bold text-xl mx-3 md:mx-12 mb-5">
      <p class="text-yellow-600 text-center">32</p>
      <p class="text-gray-700 text-center text-[16px]">Mitra</p>
    </div>
    <div class="font-bold text-xl mx-3 md:mx-12 mb-5">
      <p class="text-yellow-600 text-center">2430</p>
      <p class="text-gray-700 text-center text-[16px]">Penggunak aktive</p>
    </div>
    <div class="font-bold text-xl mx-3 md:mx-12 mb-5">
      <p class="text-yellow-600 text-center">123.210 Biji</p>
      <p class="text-gray-700 text-center text-[16px]">buku Terjual</p>
    </div>
    <div class="font-bold text-xl mx-3 md:mx-12 mb-5">
      <p class="text-yellow-600 text-center">323.3221</p>
      <p class="text-gray-700 text-center text-[16px]">Pengunjung</p>
    </div>
  </div>
  <div class="flex pb-10 pt-3">
    <a
      href="/"
      class="mx-auto px-8 py-1 font-bold text-white rounded-md shadow-lg bg-green-700 hover:bg-green-600"
    >
      Tetang Kami
    </a>
  </div>
</div>
<div class="bg-transparent shadow-lg pb-5 w-full">
  <h1 class="text-center md:text-2xl mt-10 mb-6 text-xl font-bold">
    Mitra Kerjasama
  </h1>
  <div class="flex flex-wrap md:mx-40">
    <div class="mx-auto px-3 md:px-0">
      <img class="w-[100px]" src="{satu}" alt="satu" />
      <img class="w-[100px]" src="{dua}" alt="dua" />
    </div>
    <div class="mx-auto px-3 md:px-0">
      <img class="w-[100px]" src="{tiga}" alt="tiga" />
      <img class="w-[100px]" src="{empat}" alt="empat" />
    </div>
    <div class="mx-auto px-3 md:px-0">
      <img class="w-[100px]" src="{lima}" alt="lima" />
      <img class="w-[100px]" src="{enam}" alt="enam" />
    </div>
    <div class="mx-auto px-3 md:px-0">
      <img class="w-[100px]" src="{tujuh}" alt="tujuh" />
      <img class="w-[100px]" src="{delapan}" alt="delapan" />
    </div>
    <div class="mx-auto px-3 md:px-0">
      <img class="w-[100px]" src="{sembilan}" alt="sembilan" />
      <img class="w-[100px]" src="{sepuluh}" alt="sepuluh" />
    </div>
  </div>
</div>
<div class="img w-full h-[500px] md:h-[660px]">
  <div class="flex flex-wrap">
    <p class="text-white text-[12px] mt-20 ml-[40px] mr-[70px] md:mr-[100px]">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic similique
      minima quia exercitationem ullam quas distinctio asperiores accusantium
      quam necessitatibus accusamus expedita ipsam ducimus alias eligendi,
      incidunt, officiis placeat ad. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Quod architecto est reiciendis repudiandae obcaecati?
      Sunt ducimus soluta non. Maiores, dicta ducimus! Eaque iusto maiores ex
      quam, corrupti provident porro vitae.
    </p>
    <h1
      class="text-white text-center text-xl ml-32 font-bold mt-20 sm:mt-[0px] md:pt-[100px] md:text-4xl sm:ml-[550px] md:mr-100 md:text-yellow-500"
    >
      indonesia Kekuarangan <br />
      Minat membaca
    </h1>
  </div>
</div>
<div class="w-full md:flex mb-10">
  <div class="md:my-auto flex items-center justify-center md:mx-10 md-10 py-6">
    <img
      class="shadow-xl rounded-xl w-[300px] md:w-[500px]"
      src=""
      alt="satu"
    />
  </div>
  <div class="w-full">
    <p class="text-center md:mt-7 font-bold md:text-3xl">
      Membaca Adalah gerbang ilmu
    </p>
    <p class="text-center md:text-[16px] md:mt-2 text-[15px] px-10">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      voluptatibus!
    </p>
    <div class="flex">
      <div class="flex flex-wrap md:mx-10 md:my-3 mx-7 mt-10">
        <div
          class="w-[160px] sm:w-[100px] md:w-[150px] lg:w-[300px] lg:mx-6 lg:my-6 md:ml-4 md:mt-2"
        >
          <span
            class="h-4 w-4 bg-yellow-300 flex items-center justify-center rounded-full"
          >
            1
          </span>
          <p class="text-[10px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            accusantium minima natus incidunt sint harum, optio error totam
            nisi? Ipsum.
          </p>
        </div>
        <div
          class="w-[160px] sm:w-[100px] md:w-[150px] lg:w-[300px] lg:mx-6 lg:my-6 md:ml-4 md:mt-2"
        >
          <span
            class="h-4 w-4 bg-yellow-300 flex items-center justify-center rounded-full"
          >
            2
          </span>
          <p class="text-[10px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            accusantium minima natus incidunt sint harum, optio error totam
            nisi? Ipsum.
          </p>
        </div>
        <div
          class="w-[160px] sm:w-[100px] md:w-[150px] lg:w-[300px] lg:mx-6 lg:my-6 md:ml-4 md:mt-2"
        >
          <span
            class="h-4 w-4 bg-yellow-300 flex items-center justify-center rounded-full"
          >
            3
          </span>
          <p class="text-[10px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            accusantium minima natus incidunt sint harum, optio error totam
            nisi? Ipsum.
          </p>
        </div>
        <div
          class="w-[160px] sm:w-[220px] md:w-[150px] lg:w-[300px] lg:mx-6 lg:my-6 md:ml-4 md:mt-2"
        >
          <span
            class="h-4 w-4 bg-yellow-300 flex items-center justify-center rounded-full"
          >
            4
          </span>
          <p class="text-[10px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            accusantium minima natus incidunt sint harum, optio error totam
            nisi? Ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
